# docker env
DB_NAME=telecare_db
DB_USER=telecare_user
DB_PASSWORD=supersecurepassword
PORT=4001


# backend env
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"
DB_NAME=telecare
DB_USER=telecareUser
DB_PASSWORD=anypassword
JWT_SECRET=secretKey
NODE_ENV=development
PORT=4001
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=123
SMTP_USER=test@gmail.com
SMTP_PASS="sdfs sdf sdfas"
MAIL_FROM="TeleCare test@gmail.com"

# Daily co
DAILY_API_KEY=sdfkjshdf234523hgkhgjh234kg2kj3hg4234jhg2kj3g4
DAILY_DOMAIN=telecareapp.daily.co
FRONTEND_URL=http://localhost:3000